<a href="/">
  <button style="background-color:#540413; border-color:#920D27;">
    <font color="#eee" face="Century Gothic">Lista Cadastro</font>
  </button>
</a>
<body bgcolor="#333"></body>
<form action="/add" method="POST">
    <center>
      <font color="#eee" face="Century Gothic" size="6">
        <h2 style="margin-top: 0%;">CADASTRO</h2>
      </font> 
      <font color="#eee" face="Century Gothic" size="5">
        <p>Nome</p>
        <input type="text" name="nome" style="width:6cm">
        <p>Data de Nascimento</p>
        <input type="text" name="data_nascimento" style="width:6cm">
        <p>Email</p>
        <input type="email" name="email" style="width:6cm">
        <p>Telefone</p>
        <input type="number" name="telefone" style="width:6cm">
        <p>CEP</p>
        <input type="number" name="cep" style="width:6cm">
        <br><br>
        <button type="submit" style="background-color:#540413; border-color:#920D27; width:6.2cm; height:1cm">
            <font color="#eee" face="Century Gothic">Cadastrar</font>
        </button>
      </font>  
    </center>   
</form>